<?xml version="1.0" encoding="UTF-8"?>
<!-- MOTECH PLATFORM OPENSOURCE LICENSE AGREEMENT Copyright (c) 2011 Grameen 
	Foundation USA. All rights reserved. Redistribution and use in source and 
	binary forms, with or without modification, are permitted provided that the 
	following conditions are met: 1. Redistributions of source code must retain 
	the above copyright notice, this list of conditions and the following disclaimer. 
	2. Redistributions in binary form must reproduce the above copyright notice, 
	this list of conditions and the following disclaimer in the documentation 
	and/or other materials provided with the distribution. 3. Neither the name 
	of Grameen Foundation USA, nor its respective contributors may be used to 
	endorse or promote products derived from this software without specific prior 
	written permission. THIS SOFTWARE IS PROVIDED BY GRAMEEN FOUNDATION USA AND 
	ITS CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
	BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
	FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL GRAMEEN FOUNDATION 
	USA OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 
	EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT 
	OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
	INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, 
	STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
	ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY 
	OF SUCH DAMAGE. -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:applicationPlatformServer.xml
        </param-value>
	</context-param>

	<!-- Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <listener> -->
	<!-- <listener-class>org.apache.felix.http.proxy.ProxyListener</listener-class> -->
	<!-- </listener> -->

	<!-- <servlet> -->
	<!-- <servlet-name>proxy</servlet-name> -->
	<!-- <servlet-class>org.apache.felix.http.proxy.ProxyServlet</servlet-class> -->
	<!-- <load-on-startup>1</load-on-startup> -->
	<!-- </servlet> -->

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
<!---->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>cmslite</servlet-name>
		<servlet-class>org.motechproject.cmslite.api.web.ResourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cmslite</servlet-name>
		<url-pattern>/cmslite/*</url-pattern>
	</servlet-mapping>

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>proxy</servlet-name> -->
	<!-- <url-pattern>/module/*</url-pattern> -->
	<!-- </servlet-mapping> -->

</web-app>