// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.
$panel-body-font-size: 18px !default;
$base-color: #3C89C4;
$base-gradient: #70B8F4;
$panel-body-background-color: #bababd;
//$panel-border-radius: 4px;
$toolbar-background-color: #3C89C4;
$toolbar-background-gradient: color_stops(#70B8F4, #3C89C4);

//base colors for the default button
/*
$button-default-base-color: adjust-color($neutral-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7
$button-default-base-color-over: adjust-color($base-color, $hue: -6.667deg, $saturation: 44.444%, $lightness: 10.588%) !default; //E4F3FF
$button-default-base-color-focus: $button-default-base-color-over !default;
$button-default-base-color-pressed: adjust-color($base-color, $hue: -0.725deg, $saturation: -9.556%, $lightness: -3.725%) !default; //B6CBE4
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: adjust-color($button-default-base-color, $hue: 0deg, $saturation: 0%, $lightness: -18.039%) !default;
$button-default-border-color-over: adjust-color($button-default-base-color-over, $hue: 8.177deg, $saturation: -28.283%, $lightness: -12.745%) !default;
$button-default-border-color-focus: $button-default-border-color-over !default;
$button-default-border-color-pressed: adjust-color($button-default-base-color-pressed, $hue: 2.317deg, $saturation: 6.756%, $lightness: -5.294%) !default;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-background-color: $button-default-base-color !default;
$button-default-background-color-over: $button-default-base-color-over !default;
$button-default-background-color-focus: $button-default-background-color-over !default;
$button-default-background-color-pressed: $button-default-base-color-pressed !default;
$button-default-background-color-disabled: $button-default-base-color-disabled !default;

$button-default-background-gradient: 'glossy-button' !default;
$button-default-background-gradient-over: 'glossy-button-over' !default;
$button-default-background-gradient-focus: $button-default-background-gradient-over !default;
$button-default-background-gradient-pressed: 'glossy-button-pressed' !default;
$button-default-background-gradient-disabled: 'glossy-button-disabled' !default;

$button-default-background-gradient-color-stops: null !default;
$button-default-background-gradient-color-stops-over: $button-default-background-gradient-color-stops !default;
$button-default-background-gradient-color-stops-focus: $button-default-background-gradient-color-stops-over !default;
$button-default-background-gradient-color-stops-pressed: $button-default-background-gradient-color-stops !default;
$button-default-background-gradient-color-stops-disabled: $button-default-background-gradient-color-stops !default;

$button-default-color: #333 !default;
$button-default-color-over: $button-default-color !default;
$button-default-color-focus: $button-default-color-over !default;
$button-default-color-pressed: $button-default-color !default;
$button-default-color-disabled: lighten($button-default-color, 35) !default;
*/


$button-default-base-color: #6CB5F1;
$button-default-background-gradient: color_stops(#4491CC, #6CB5F1);
//$button-default-background-color-over: #FFFFFF;



@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true
 
