.x-tabbar {
    padding-top: 10px !important;
    border-bottom: 2px solid #306aa1 !important;
}

.tweet {
    padding: 10px 0 10px 68px;
    border-top: 1px solid #ccc;
    min-height: 68px;
    background-color: #fff;
}

.tweet h2 {
    font-weight: bold;
}

.tweet .avatar {
    position: absolute;
    left: 10px;
}

.tweet .avatar img {
    max-width: 48px;
}