<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
    #set( $messageContext = "message" )
	<form>
 		<block>
             <prompt>
                <audio src="$contextPath/../audio/$language/hello.wav"/>
             </prompt>
            <prompt>
                Please fix your appointment
                $message.getParameters().get("message")
            </prompt>
             #set ($url = "$contextPath/outbox/vxml/messageMenu?mId=$message.id&ln=$language")
            <goto next="$escape.escapeXml($url)"/>
		</block>
	</form>
</vxml>