<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
	<form>
 		<block>
             <prompt>
                <audio src="$contextPath/../audio/$language/hello.wav"/>
                The message has been save successfully. It will be kept in your outbox for $days days.
            </prompt>
             #set ($url = "$contextPath/outbox/vxml/outboxMessage?pId=$partyId&ln=$language")
             <goto next="$escape.escapeXml($url)"/>
		</block>

	</form>
</vxml>