<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
	<form>
 		<block>
             <prompt>
                <audio src="$contextPath/../audio/$language/hello.wav"/>
                There are no saved messages in your outbox
            </prompt>
             #set ($url = "$contextPath/tama/menu/select?pId=$partyId")
            <goto next="$escape.escapeXml($url)"/>
		</block>
	</form>
</vxml>