<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
    <menu>
      <property name="inputmodes" value="dtmf"/>
       #set ($repeatUrl = "$contextPath/outbox/vxml/outboxMessage?mId=$message.id&ln=$language")
        #set ($removeUrl = "$contextPath/outbox/vxml/remove?mId=$message.id&ln=$language")
        #set ($nextUrl = "$contextPath/outbox/vxml/savedMessage?pId=$message.partyId&ln=$language")
        #set ($mainMenuUrl = "$contextPath/tama/menu/select?pId=$message.partyId")
      <prompt>
          #if($message.voiceMessageType.canBeReplayed)
              To listen this message again press 1,
          #end
          to remove this message press 2
          to go to the next saved message in your outbox press 3
          to go to the main menu press 9
      </prompt>
        #if($message.voiceMessageType.canBeReplayed)
            <choice dtmf="1" next="$escape.escapeXml($repeatUrl)"/>
        #end
        <choice dtmf="2" next="$escape.escapeXml($removeUrl)"/>
        <choice dtmf="3" next="$escape.escapeXml($nextUrl)"/>
        <choice dtmf="9" next="$escape.escapeXml($mainMenuUrl)"/>
    </menu>
</vxml>