$base-color: #6f9f15;
$active-color: #3C545C;
$complement: #666;

$include-default-icons: false;
// $select_height: 2em;

// This is just a quick example of how to create a custom Sass-based stylesheets

// Note how we are changing the overall style of buttons
// and also optimizing our the CSS download by removing unused components

// This must be compiled after it is edited, for more information, see
// http://www.sass-lang.org

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-toolbar-forms;
// @include sencha-tabs;
@include sencha-toolbar;
@include sencha-carousel;
// @include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-loading-spinner;

.loading {
  background: rgba(0,0,0,.3) url(../img/loading.gif) center center no-repeat;
  display: block;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;  
  -webkit-border-radius: .5em;
  color: #fff;
  text-shadow: #000 0 1px 1px;
  text-align: center;
  padding-top: 8em;
  font-weight: bold;
}

.x-toolbar .x-field input {
  width: 10em !important;
}

// .x-toolbar {
//   padding: 0.3em;
//   .x-field-select {
//     margin: 0 10px;
//   }
//   
//   .x-field-select input {
//     background-color: $base-color;
//     -webkit-appearance: none;
//     position: relative;
//     color: #fff;
//     padding: .2em .6em;
//     font-size: .9em;
//     @include bevel_text;
//     border: 1px solid $base-color;
//     border-top: 1px solid lighten($base-color, 10%);
//     border-bottom: 1px solid darken($base-color, 10%);
//     @include background-gradient(darken($base-color, 15%));
//     -webkit-border-radius: $select_height/2;
//     -webkit-box-shadow: darken($base-color, 20%) 0 1px 0;
//     width: 10em;
//     height: $select_height;
// 
//     &:focus {
//       @include background-gradient(darken($base-color, 15%), 'recessed');
//       border: 1px solid darken($base-color, 10%);
//     }
//   }
//   input[type=search]:focus {
//     -webkit-box-shadow: #fff 0 0 20px;
//   }
// }

.loan {
  -webkit-transform: translate3d(0,0,0);
  position: relative;
  min-height: 100px !important;
  padding: 20px 200px 20px 100px !important;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  background-color: #f8f8f8;
  font-size: .9em;
  
  &:last-child {
    border-bottom: 0;
  }
  &:first-child {
    border-top: 0;
  }
  
  .loan_img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .funded_info {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 140px;
    
    .goal {
      color: darken($base-color, 20%);
      text-align: center;
      font-weight: bold;
    }
    
    .funded {
      margin: .2em 0;
      width: 100%;
      height: 20px;
      @include background-gradient(#eee);
      border: 1px solid #eee;
      @include border-radius(.3em);
      .progress {
        @include background-gradient(darken($base-color, 5%));
        border: 1px solid darken($base-color, 15%);
        @include border-radius(.3em);
        height: 100%;
      }
    }
    
    .percent {
      text-align: center;
      color: #999;
    }
  }
}

.x-item-selected {
  * {
    color: lighten($active-color, 60%) !important;
    @include bevel-text();
  }
  
  .loan {
      background: transparent;
  }
  
  .funded {
    @include background-gradient(darken($active-color, 20%), 'recessed');
    border: 1px solid darken($active-color, 20%);
  }
}

.loaninfo {
  background: #fff;
  @include border-left-radius(.2em);
  position: absolute;
  border: 0;
  
  .x-button a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
    
  .x-htmlcontent {
    padding-bottom: 3em;
  }
  
  h1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: .2em;
    color: #999;
  }
  
  .x-scrollbar {
    z-index: 100;
  }
  
  .payment {
    overflow: hidden;
    padding: .3em 0;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    
    &:last-child {
      border-bottom: 0;
    }
    span {
      display: block;
      float: right;
      color: $base-color;
    }
  }
  
}