<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
	<form>
 		<block>
             <prompt>
                <audio src="$contextPath/../audio/$language/hello.wav"/>
             </prompt>
            <prompt>
                The message has been removed from your outbox.
            </prompt>
             #set ($url = "$contextPath/outbox/vxml/savedMessage?pId=$partyId&ln=$language")
            <goto next="$escape.escapeXml($url)"/>
		</block>
	</form>
</vxml>