<!DOCTYPE HTML>
<html>
    <head>
        <title>Basic Layout</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="../../../resources/css/sencha-touch.css" type="text/css">
        <script type="text/javascript" src="../../../sencha-touch.js"></script>
        <script>
            Ext.setup({
                onReady: function(){
                    new Ext.Panel({
                        fullscreen: true,
                        style: "background-color: red",
                        html: "should have dockeditems and you should see this txt",
                        dockedItems: [{
                                xtype: "container",
                                height: "100",
                                style: "background-color: blue",
                                html: "TOP blue w:100"
                            },
                            {
                                xtype: "panel",
                                dock: "bottom",
                                height: "200",
                                style: "background-color: green",
                                html: "BOTTOM  green me w:200",
                                dockedItems :[{
                                        xtype: "container",
                                        dock: "Left",
                                        width: "300",
                                        style: "background-color: yellow",
                                        html: "L yellow w:300"
                                },
                                {
                                        xtype: "container",
                                        dock: "right",
                                        width: "300",
                                        style: "background-color: lightblue",
                                        html: "R lightblue w:300"
                                }]

                            }]
                    });
                }
            });
        </script>
    </head>
    <body>
    </body>
</html>