body {
	font-family: Lucida Sans, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	margin: 20px;
}
#main {
	width: 960px;
	margin: 0px auto;
	border: solid 1px #b2b3b5;
	-moz-border-radius: 10px;
	padding: 20px;
	background-color: #f6f6f6;
}
#header {
	text-align: center;
	border-bottom: solid 1px #b2b3b5;
	margin: 0 0 20px 0;
}
fieldset {
	border: none;
	width: 500px;
}
legend {
	font-size: 18px;
	margin: 0px;
	padding: 10px 0px;
	color: #b0232a;
	font-weight: bold;
}
label {
	display: block;
	margin: 15px 0 5px;
}
input[type=text], input[type=password] {
	width: 300px;
	padding: 5px;
	border: solid 1px #000;
}
.prev, .next {
	background-color: #b0232a;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}
.prev:hover, .next:hover {
	background-color: #000;
	text-decoration: none;
}
.prev {
	float: left;
}
.next {
	float: right;
}
#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
#steps li {
	font-size: 24px;
	float: left;
	padding: 10px;
	color: #b0b1b3;
}
#steps li span {
	font-size: 11px;
	display: block;
}
#steps li.current {
	color: #900;
}
#steps li.past {
	color: #080;
}
#makeWizard {
	background-color: #b0232a;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 18px;
}
#makeWizard:hover {
	background-color: #000;
}
.requiredTitle {
}
.annotation {
	float: right;
	font-size: 10px;
}
.fields {
	background-color: #ddd;
	padding: 10px;
}
.section {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
}
.unit {
	padding-left: 10px;
}
.shortInput {
	width: 30px;
}
.alignedResult {
	vertical-align: top;
	background-color: #EEEEEE;
	border-width: 0px;
	resize: none;
	font-size: 50px;
	font-weight: bold;
}
select {
	width: 100px;
}
.box {
	border: 2px solid #A0A1A3;
	padding-left: 10px;
	padding-bottom: 10px;
}
.titleless .ui-dialog-titlebar {
/*	display: none*/
}
.dialogRadioGroup {
	margin: 20px;
}
.titlePicture {
	height: 40px;
}
.titleText {
	font: bold 50px Georgia;
}
.buttonText {
	font-weight: bold;
	margin-bottom: 10px;	
}
