<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
    <form>
        <block>
            <prompt>
                #foreach( $prompt in $node.prompts )
                    #if($prompt.class.simpleName == "AudioPrompt")
                        <audio src="$contentPath/../audio/$language/$prompt.audioFileUrl">
                               $prompt.altMessage
                        </audio>
                    #else
                        $prompt.message
                    #end
                #end
            </prompt>
        </block>
        #if ($treeName)
			#set ($url = "$contentPath/tree/vxml/node?pId=$patientId&ln=$language&tNm=$treeName")
            <goto next="$escape.escapeXml($url)"/>
        #else
	        <exit/>
        #end
    </form>
</vxml>