<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
    <menu>
        <property name="inputmodes" value="dtmf"/>

        <prompt>
            #foreach( $prompt in $node.prompts )
                #if($prompt.class.simpleName == "AudioPrompt")
                    <audio src="$contentPath/../audio/$language/$prompt.audioFileUrl">
                           $prompt.altMessage
                    </audio>
                #else
                    $prompt.message
                #end
            #end
        </prompt>
        #if ($node.transitions.size() > 0)
            #foreach( $mapEntry in $node.transitions.entrySet() )
                #set ($url = "$contentPath/tree/vxml/node?pId=$patientId&ln=$language&tNm=$treeName&trP=$transitionPath&trK=$mapEntry.key")
                <choice dtmf="$mapEntry.key"
                        next="$escape.escapeXml($url)"/>
            #end
         #else
             <exit/>
        #end
    </menu>
</vxml>