*~
*#
.DS_Store
.classpath
.project
.settings/
target/
.externalToolBuilders/
maven-eclipse.xml
.idea/
*.iml
*.ipr
*.iws
*.class
*.log
out/
Error_log/
test-output/
felix-cache/
activemq-data/
tools/SMPPSim/
