<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">
	
    <!-- Base Module Properties -->
    <id>@MODULE_ID@</id>
    <name>@MODULE_NAME@</name>
    <version>@MODULE_VERSION@</version>
    <package>@MODULE_PACKAGE@</package>
    <author>Raxa</author>
    <description>
        Provides core RaxaEMR services
    </description>
    <activator>@MODULE_PACKAGE@.Activator</activator>

    <updateURL>https://modules.raxa.org/modules/download/raxacore/update.rdf</updateURL>
    <!-- /Base Module Properties -->
	
    <require_version>${openMRSVersion}</require_version>
    
    <!-- Extensions -->
	
    <!-- AOP -->
    <!-- Required Privileges -->
    <!-- Required Global Properties -->
    <!-- DWR -->
    <!-- Servlets -->
    <!-- Filters -->
	
    <!-- Internationalization -->
    <!-- All message codes should start with moduleId.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>

    <!-- Hibernate files -->
    <mappingFiles>
        ${omodHbmConfig}
    </mappingFiles>
	
</module>
