<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="org.motechproject.server.alerts"/>

    <import resource="classpath:applicationPlatformCommon.xml"/>

    <bean id="alertDbConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="motech-alert"/>
        <constructor-arg ref="couchDbInstance"/>
    </bean>

    <bean id="allAlerts" class="org.motechproject.server.alerts.dao.AllAlerts">
        <constructor-arg ref="alertDbConnector"/>
    </bean>

    <bean id="alertService" class="org.motechproject.server.alerts.service.AlertServiceImpl">
        <constructor-arg ref="allAlerts"/>
    </bean>
</beans>
