<!DOCTYPE HTML>
<html>
    <head>
        <title>Basic Layout</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="../../../resources/css/sencha-touch.css" type="text/css">
        <script type="text/javascript" src="../../../sencha-touch.js"></script>
        <script>
            Ext.setup({
                onReady: function(){
                    new Ext.Panel({
                        fullscreen: true,
                        style: "background-color: red",
                        html: "should have visible children and you should see this txt",
                        items: [{
                                xtype: "container",
                                height: "100",
                                style: "background-color: blue",
                                html:"blue me"
                            },
                            {
                                xtype: "container",
                                height: "200",
                                style: "background-color: green",
                                html: "green me - 2x blue"
                            }]
                    });
                }
            });
        </script>
    </head>
    <body>
    </body>
</html>